<!DOCTYPE html>
<html>
<head>
<title>Admin Dashboard</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="bg-light">

<div class="container mt-4">

<h2 class="text-center">🎓 Smart Campus Admin</h2>

<div class="row text-center mt-4">

<div class="col-md-3">
<div class="card p-3 shadow">
<h5>Students</h5>
<h3>{{ students }}</h3>
</div>
</div>

<div class="col-md-3">
<div class="card p-3 shadow">
<h5>Teachers</h5>
<h3>{{ teachers }}</h3>
</div>
</div>

<div class="col-md-3">
<div class="card p-3 shadow">
<h5>Attendance</h5>
<h3 id="att">{{ attendance }}</h3>
</div>
</div>

<div class="col-md-3">
<div class="card p-3 shadow">
<h5>Pending Fees</h5>
<h3>{{ fees }}</h3>
</div>
</div>

</div>

<div class="card mt-4 p-3 shadow">
<canvas id="chart"></canvas>
</div>

<h4 class="mt-4">Latest Notices</h4>
<ul>
{% for n in notices %}
<li>{{ n[0] }}</li>
{% endfor %}
</ul>

<div class="mt-4 text-center">
<a href="/students" class="btn btn-primary">Students</a>
<a href="/notice" class="btn btn-warning">Notice</a>
</div>

</div>

<script>
const att = Number(document.getElementById("att").innerText);

new Chart(document.getElementById("chart"), {
    type: 'bar',
    data: {
        labels: ['Attendance'],
        datasets: [{
            label: 'Average',
            data: [att]
        }]
    }
});
</script>

</body>
</html>