<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<h2>Smart Campus Dashboard</h2>

<h3>Total Students: {{ total }}</h3>
<h3>Average Attendance: {{ avg }}</h3>

<canvas id="chart" width="400" height="200"></canvas>

<script>
const ctx = document.getElementById('chart');

new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Attendance'],
        datasets: [{
            label: 'Average Attendance',
            data: [{{ avg }}],
            borderWidth: 1
        }]
    }
});
</script>

<br>

<button onclick="chat()">AI Chat</button>
<button onclick="risk()">Check Risk</button>

<script>
function chat(){
 fetch('/chat',{
  method:'POST',
  headers:{'Content-Type':'application/json'},
  body:JSON.stringify({message:"attendance"})
 })
 .then(r=>r.json()).then(d=>alert(d.reply))
}

function risk(){
 fetch('/risk',{
  method:'POST',
  headers:{'Content-Type':'application/json'},
  body:JSON.stringify({attendance:40})
 })
 .then(r=>r.json()).then(d=>alert(d.risk))
}
</script>

</body>
</html>