<h4>Add Student</h4>
<input id="name" placeholder="Name">
<input id="course" placeholder="Course">
<input id="sem" placeholder="Semester">
<button onclick="add()">Add</button>

<script>
function add(){
 fetch('/add_student',{
  method:'POST',
  headers:{'Content-Type':'application/json'},
  body:JSON.stringify({
   name:document.getElementById("name").value,
   course:document.getElementById("course").value,
   semester:document.getElementById("sem").value
  })
 })
 .then(res=>res.json())
 .then(data=>alert(data.msg))
}
</script>